 body{
	 font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
	 color: #333;
	 background-color: #fff;
	 min-width: 1226px;
 }
header{
	width : 100%;
	height: 40px;
	background:#333333;
	font-size: 12px;
}
.header-main{
	width : 1226px;
	height: 40px;
	background: #333333;
	margin: 0 auto ;
	
}
.header-left{
	float: left;
	margin-top: 14px;
	overflow: hidden;
}
.one a:hover{
	color:#fff;
}
.one a{
	color: #b0b0b0;
}
.two a:hover{
	color: white;
}
.one{
	float: left;
	border-right: 0.5px solid rgba(255,255,255,0.2);
	padding-right:  14px;
	padding-left: 14px;
	overflow: hidden;
}
.two{
	float:left;
	padding-right:  14px;
	padding-left: 14px;
	height: 12px;
}
.header-right{
	float: right;
	margin-top: 14px;
	overflow: hidden;
}
.gwc{
     width: 156px;
     float: left;
	height: 40px;
     padding-left: 51px;
	margin-top: -14px;
	padding-top: 14px;
}
.gwc1{
	float: left;
}
.gwc2{
	float: left;
}
.gwc a:hover{
	color: white;
}
nav{
	width: 1226px;
	/*overflow: hidden;*/
	margin: 0 auto;
	 height: 80px;
	background: #fff;
	padding-top: 22px;
}
.gpsl{
	float: left;
    width: 49px;
   height: 49px;
    background-image: url('../img/lougou.png');
    
}
.gpsr{
	float: right;
	font-size: 14px;
   /*  background: red; */
    width: 982px;
    height: 52px;
 }
nav .gpl{
	/* display: inline; */
	float: left;
	width: 638px;
	 height: 49px;
	margin-top: 17.5px;
	position: relative;
}
nav .gpl .gpli{
	float: left;
	padding-right: 20px;

    
}
 .children-list{
     position: absolute;
	 left:-230px;
	 top:40px;
	 margin: auto;
	 width:1224px;
	 height:0;
	 overflow: hidden;
	 z-index: 999;
	 text-align: center;
	 background:#fff;
	 /*transition: all 0.3s linear;*/
 }
 .children-list  li{
	 width: 204px;
	 height: 206px;
	 float: left;
 }
 .figure{
		border-right:1px solid #dddddd;
 }
 .nob{
	 border-right:none;
 }
 .flags .flag{
	 display: inline-block;
	 height: 18px;
	 padding: 1px 20px;
	 border: 1px solid #ff6700;
	 color: #ff6700;
	 line-height: 18px;
 }
nav .gpl .gpli .ind:hover{
	color: red;
    
}
.gpsrr{
	height: 49px;
	float: right;
	/* margin-left: 52px; */
}
.gpsrr .text{
	width: 241px;
	height: 48px;
	float: left;
	text-align: center;

}
.ss{
	width: 49px;
	height: 48px;
	float: left;
	background-image: url('../img/sousuo.png')
}
.ss:hover{
	background-image: url('../img/搜索.png')
}
.banner{

	width: 1226px;
	height: 431px;
	margin: 0 auto;
	position: relative;
	margin-top: 22px;
}
aside{
	width: 236px;
	height: 431px;
	background: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 990px;
	margin: auto;
	z-index: 900;
}
aside .as .asl .sl a{
	color: #fff;
}
aside .as{
	margin: 0 auto;
	margin-top: 6px;
	font-size: 14px;
	color: white;	
}
aside .as .asl {
	line-height: 42px;
}
 aside .as .asl .asidesec{
	 display: none;
	 position: absolute;
	 width:820px;
	 left: 234px;
	 top:0;
	 z-index:9999;
	 height: 431px;
	 border: 1px solid #e0e0e0;
	 border-left: 0;
	 background: #fff;
	 -webkit-box-shadow: 0 8px 16px rgba(0,0,0,0.18);
	 box-shadow: 0 8px 16px rgba(0,0,0,0.18);
 }
 aside .as .asl .sa{
	 width:580px ;
 }
 aside .as .asl .sal{
	 width:280px ;
 }
 aside .as .asl .asidesec ul{
	 width: 265px;
	 height: 100%;
	 float: left;
 }
 aside .as .asl .asidesec ul li{
	 position: relative;
	 width: 265px;
	 height: 72px;
 }
 aside .as .asl .asidesec ul li .le{
	 width: 180px;
	 display: block;
	 height: 100%;
	 padding: 18px 20px;
	 float: left;
 }
 aside .as .asl .asidesec ul li .le img{
	 width: 40px;
	 height: 40px;
	 float: left;
 margin-right: 2px;

 }
 aside .as .asl .asidesec ul li .le span{
	 line-height: 40px;
 }
 aside .as .asl .asidesec ul li .ri{
	 display: block;
	 width: 58px;
	 height:40px;
	 line-height: 22px;

	 background: #fff;
	 color: #ff6700;
	 text-align: center;
	 padding: 29px 0;
	 float: right;
 }
 aside .as .asl .asidesec ul li .ri .choose{
	 border: 1px solid #ff6700;
 }
 aside .as .asl .asidesec ul li .ri .choose:hover{
	 background:#ff6700 ;
	 color: #fff;
 }
 aside .as .asl .asidesec ul li .le span:hover{
	 color:#ff6700 ;
 }
 .sl{
	margin-left: 20px;
}
.sr{
     margin-right: 20px;
	float: right;
}
.cr{
	width: 990px;
	height: 431px;
	float: right;
	position: relative;
}
.cr .bn{
	width: 990px;
	height: 431px;
	position: absolute;
	top: 0;
	left: 0;

}
 .cr .bn a{
	 width: 990px;
	 overflow: hidden;
	 display: block;
	 position: absolute;
	 top: 0;
	 left: 0;
	 margin: auto;
	 transition: all 1s;
	 opacity: 0;
 }
 .cr .bn a:first-child{
	 z-index: 2;
	 opacity: 1;
 }
 .cr .bn a img{
	 width: 990px;
	 height: 431px;
 }
 aside .as .asl:hover{
     background: #FF6700;
}
.hll{
	width: 50px;
	height: 60px;
	font-size: 50px;
	text-align: center;
	position: absolute;
	top: 190.5px;
	bottom: 0px;
	left: 0px;
	margin: 0 auto;
	float: left;
	z-index: 30;
	color:#fff;
	background:rgba(0,0,0,0.5);
	cursor:pointer;
	opacity: 0;
	line-height: 60px;
}
.hlr{
	width: 50px;
	height: 60px;
	font-size: 50px;
	position: absolute;
	top: 190.5px;
	bottom: 0px;
	right: 0px;
	margin: 0 auto;
	float: left;
	cursor:pointer;
	z-index: 30;
	color:#fff;
	background:rgba(0,0,0,0.5);
	opacity: 0;
	text-align: center;
	line-height: 60px;
}
.h1b{
	height: 12px;
	width: 100px;
	float: right;
	position: absolute;
	bottom: 16px;
	right:50px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	z-index: 800;
}
.h1b .dian{
    width: 8px;
    height: 8px;
    background:gray;
    border: 1px solid #9DA9B5;
    border-radius: 50%;
	cursor: pointer;
}
.h1b .dian1{
    width: 8px;
    height: 8px;
    background:#a10000;
    border: 1px solid #938A80;
    border-radius: 50%;
}
.pc1{
	width: 1226px;
	padding-top: 14px;
	margin: 0 auto; 
	overflow: hidden; 
	padding-bottom: 10px;  
}
.one1{
	float: left;
     width: 237px;
     height: 170px;
     background: #5F5750;
}
.one1 ul{
	width: 237px;
     height: 85px;
}
.one1 ul li{
	width: 79px;
	margin-top: 10px;
    height: 55px;
    float: left;
    position: relative;
    border-right: 2px solid #665E57;
}
.xian{
	float: left;
	width: 60px;
	 height: 55px;
	 margin-top: -65px;
	 margin-left: 12px;

	  border-bottom: 2px solid #665E57;
}
.xgsj:hover{
	color: #FFFFFF;
}
.one1 ul li img{
	width: 35px;
	height: 35px;
	float: left;
	position: absolute;
	bottom: 19px;
	left: 0;
	right: 0;
	margin: auto;
    
}
.xgsj{
	font-size: 12px;
	position: absolute;
	top:40px;
	bottom: 0;
	left: 15px;
	right: 0;
	margin: auto;
	color: #C8C5C2;
}
.two0{
    float: left;
    height: 169px;
     margin-left: 14px;
     transition: all 0.5s linear;
}
.two0:hover{
	box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.2);
}
.danpin{
	width: 1226px;
	margin: 0 auto; 
	overflow: hidden;
}
.jianxi1{
	/* height: 86px; */
	width: 1226px;
	overflow: hidden;  
}
.text1{
	font-size: 22px;
	padding-top: 43px;
	/* padding-bottom: 20px; */
	float: left;

}
.hl{width: 70px;
	height: 22px;
	float: right;
	margin-top: 60px;
}	
.z{
	width: 35px;
	height: 22px;
	/* margin-bottom:  12px; */
	float: right; 
    padding-right: 13px;
    padding-left: 13px;
    text-align: center;
	font-size: 18px;
	line-height: 22px;
	color: #B3CAB8;
	cursor: pointer;
	background: #fff;
	border:1px solid #333333;
}
.y{
	background: #fff;
	width: 35px;
	height: 22px;
	cursor: pointer;
	float: right;
	 padding-right: 13px;
    padding-left: 13px;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	color: #B3CAB8;
	border:1px solid #333333;

}
.z:focus{
	outline: 0;
}
 .y:focus{
	 outline: 0;
 }
.danpinlan{
	width: 1236px;
	height: 350px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0 auto;
	/*overflow: hidden;*/
	margin-top: 10px;
}
 .danpinlan ul{
	 width: 2480px;
	 height: 350px;
	 float: left;
	 margin-left: 0;
 }
 .danpinlan ul li:nth-child(6){
	 margin-left: 14px;
 }
.dp1{
     width: 234px;
     height: 350px;
     background: #FAFAFA;
     float: left;
     padding-top: 50px;
     margin: 0 auto;
     border-top: 1px solid #FFAC13;
       margin-right: 14px;
         padding-left: 37px;
         position: relative;
         padding-bottom: 30px;
        

}

.dp3{
     width: 234px;
     height: 350px;
     background: #FAFAFA;
     float: left;
     padding-top: 50px;
     margin: 0 auto;
     border-top: 1px solid #83C44E;
       margin-right: 14px;
         padding-left: 37px;
         position: relative;
          padding-bottom: 30px;

}
.dp4{
     width: 234px;
     height: 350px;
     background: #FAFAFA;
     float: left;
     padding-top: 50px;
     margin: 0 auto;
     border-top: 1px solid #2196F3;
       margin-right: 14px;
         padding-left: 37px;
         position: relative;
          padding-bottom: 30px;

}
.dp5{
     width: 234px;
     height: 350px;
     background: #FAFAFA;
     float: left;
     padding-top: 50px;
     margin: 0 auto;
     border-top: 1px solid #E53935;
       margin-right: 14px;
         padding-left: 37px;
         position: relative;
          padding-bottom: 30px;

}
.dp1 img{
	width: 160px;
	height: 166px;
}
.dp3 img{
	width: 160px;
	height: 166px;
}
.dp4 img{
	width: 160px;
	height: 166px;
}
.dp5 img{
	width: 160px;
	height: 166px;
}
.dp2 img{
	width: 160px;
	height: 166px;
}
.dp2{
     width: 234px;
     height: 350px;
     background: #FAFAFA;
      border-top: 1px solid #00C0A5;
     float: left;
      padding-top: 50px;
     margin: 0 auto;
         padding-left: 37px;
          position: relative;
         padding-bottom: 30px;

}
.dpe{
	 width: 234px;
	height: 78px;
	/* background: red; */
	position: absolute;
	bottom: 0px;
	left: 0px;
	margin: auto;
	text-align: center;
	margin-bottom: 15px;
}
.led{
	font-size: 12px;
	color: black;
}

p{
	margin-top: 12px;
	font-size: 12px;
	color: #B6B0B2;
}
pre{
	font-size: 12px;
	color: #FF6709;
	margin-top: 22px;
	margin-bottom: 22px;
}
.jianxi{
	width: 100%;
	background: #F5F5F5;
	overflow: hidden;
	margin-top: 42px;
	
}
.znyj{
	width: 1226px;
	margin: 0 auto;
	overflow: hidden;
}
.znyj1{
	width: 1226px;
	padding-top: 80px;
	margin: 0 auto;
}
.znyj11{
    font-size: 22px;
}
.ckqb{
	font-size: 16px;
	float: right;
	margin-right: 10px;

}
.yuan{
	width: 20px;
	height: 20px;
	float: right ;
	border-radius: 50%;
	background: #B0B0B0;
	padding:1px 6px;

}
.y1{
	color: white;
	float: right;
}
.znyj1 .yuan:hover{
	background: red;
}
.znyj1 .ckqb:hover{
	color: red;
}
.znyj2{
	width: 1226px;
	height: 643px;
     margin: 0 auto;
     margin-top: 40px;
     
}
.znyj22:hover{
	box-shadow:0px 5px 20px 5px rgba(0,0,0,0.2); 
	transform: translateY(-2px);
}
.znyje{
	 width: 234px;
	height: 78px;
	/* background: red; */
	position: absolute;
	bottom: 0px;
	left: 0px;
	margin: auto;
	text-align: center;
}
.znyj24{
	width: 234px;
	height: 303px;
     float: left;
    background: #FFFFFF;
      margin-left: 10px;
      padding-left: 7px;
       padding-right: 7px;
       position: relative;
       	transition: all 0.5s linear;

}
.znyj22{
	width: 248px;
	height: 628px;
    float: left;
    margin-top: 0px;
     transition: all 0.5s linear;
}
.znyj23{

	width: 100%；
	
	
}
.znyj24:hover{
	box-shadow:0px 5px 20px 5px rgba(0,0,0,0.2); 
	transform: translateY(-2px);
}
.znyj3{
	overflow: hidden;
	height: 320px;
	
}
.znyj4{
	overflow: hidden;
	margin-top: 5px;
	height: 320px;
}
.dapei{
	width: 1226px;
	height: 686px;
	margin: 0 auto;

}
.dapei1{
	width: 1226px;
	height: 81px;
	margin: 0 auto;
	position: relative;
}

.dapei2t1:hover{
	box-shadow:0px 5px 20px 5px rgba(0,0,0,0.2); 
	transform: translateY(-2px);
}
.dapei1z{
	font-size: 22px;
	float: left;
	position: absolute;
	top: 18px;
	bottom: 0px;
	left:0px;
	margin: auto;

}
.dapei2z{
	font-size: 16px;
	float: right;

}
.dapei2z *{
	float: right;
    
}
.dapei2z ul{
	margin-top: 18px;
}

.dapei2z ul li{
	margin-left: 18px;
}
.dapei2z ul li a:hover{
	color: #FD674C;
}
.dapei2{
	width: 1226px;
	overflow: hidden;
}
.dapei3{
	width: 1226px;
	overflow: hidden;
	margin-top: 14px;
}
.dapei2t1{
	width: 234px;
	height: 300px;
	float: left;
	background: #FFFFFF;
	 transition: all 0.5s linear;
}
.dapei2t1 img{
	width:100%;
	height: 100%;
}
.dapei2t2{
	width: 234px;
	height: 300px;
	float: left;
	margin-left: 14px;
	background: #FFFFFF;
	position: relative;
	 overflow: hidden;
	 transition: all 0.5s linear;
	
}
.dapei2t2:hover{
	box-shadow:0px 5px 20px 5px rgba(0,0,0,0.2); 
	transform: translateY(-2px);
}
.dapei2t2 img{
	width: 150px;
	height: 150px;
	position: absolute;
	top: 40px;
    left: 0;
    right: 0;
    margin: auto;
}
.dapei2t2:hover .bottom{
	animation: xianshi .5s linear  forwards;
}
.bottom{
	width: 100%;
	height: 76px;
	background:#ff6700;
	position: absolute;
	left: 0;
	bottom: -76px;
	margin: auto;
	opacity: 0;
}
.wenzi{
	font-size: 12px;
	float: left: ;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	color: #ffffff;
}
.wenzi2{
    margin-top: 5px;
	font-size: 12px;
	float: left: ;
	margin-left: 20px;
	margin-right: 20px;
	color: #ffffff;
}
.wenzi1{
	width: 190px;
	font-size: 12px;
	float: left: ;
	margin-left: 20px;
	margin-right: 20px;
	color: #FFBD91;
}
@keyframes xianshi{
	0%{
		opacity: 0;
		transform: translateY(0px);
	}
	10%{
		opacity: 0.1;
		transform: translateY(-10px);
	}
	20%{
		opacity:0.2;
		transform: translateY(-20px);
	}
	30%{
		opacity: 0.3;
		transform: translateY(-30px);
	}
	40%{
		opacity: 0.4;
		transform: translateY(-40px);
	}
	50%{
		opacity: 0.5;
		transform: translateY(-50px);
	}
	60%{
		opacity: 0.6;
		transform: translateY(-60px);
	}
	100%{
		opacity: 1;
		transform: translateY(-76px);
	}
}
.hezi1{
	width: 234px;
	height: 143px;
	background: #FFFFFF;
	float: left;
	margin-left: 14px;
	position: relative;
	 transition: all 0.5s linear;
}
.hezi1:hover{
	box-shadow:0px 5px 20px 5px rgba(0,0,0,0.2); 
	transform: translateY(-2px);
}
.hezi2{
	width: 234px;
	height: 143px;
	background: #FFFFFF;
	float: left;
	margin-top: 14px;
	margin-left: 14px;
	position: relative;
	 transition: all 0.5s linear;
}
.hezi2:hover{
	box-shadow:0px 5px 20px 5px rgba(0,0,0,0.2); 
	transform: translateY(-2px);
}
.hezidpe{
	 width: 234px;
	height: 78px;
	/* background: red; */
	position: absolute;
	top: 44px;
	left: 44px;
	margin: auto;
}
.hezi1y{
	width: 80px;
	height: 80px;
	float: right;
	position: absolute;
	top: 34px;
	right: 14px;
	margin: auto;
}
.hezi1y img{
	width: 100%;
	height: 100%;
}
.hezi1yy{
	width:48px;
	height: 48px;
	float: right;
	position: absolute;
	top: 34px;
	right: 30px;
	margin: auto;
}
.hezi1yy img{
	width: 100%;
	height: 100%;
}
.peijian{
	width: 1226px;
	height: 686px;
	margin: 0 auto;
    margin-top:50px;
}
.dp1zz{
     width: 234px;
     height: 350px;
     background: #FEFEFE;
     float: left;
     padding-top: 50px;
     margin: 0 auto;
     margin-right: 14px;
     padding-left: 37px;
     position: relative;
     padding-bottom: 30px;
     /*  transition: box-shadow 0.5s linear; */
}
.dp1zz:hover{
	/* box-shadow:0px 5px 20px 5px rgba(0,0,0,0.2);  */
	transform: translateY(-2px);
}

.dp3zz{
     width: 234px;
     height: 350px;
     background: #FEFEFE;
     float: left;
     padding-top: 50px;
     margin: 0 auto;
	 margin-right: 14px;
     padding-left: 37px;
     position: relative;
     padding-bottom: 30px;
     /*  transition: box-shadow 0.5s linear; */
}
.dp3zz:hover{
	/* box-shadow:0px 5px 20px 5px rgba(0,0,0,0.2);  */
	transform: translateY(-2px);
}

.dp4zz{
     width: 234px;
     height: 350px;
     background: #FEFEFE;
     float: left;
     padding-top: 50px;
     margin: 0 auto;
     margin-right: 14px;
     padding-left: 37px;
     position: relative;
     padding-bottom: 30px;
    /*   transition: box-shadow 0.5s linear; */
}
.dp4zz:hover{
	/* box-shadow:0px 5px 20px 5px rgba(0,0,0,0.2);  */
	transform: translateY(-2px);
}

.dp5zz{
     width: 234px;
     height: 350px;
     background: #FEFEFE;
     float: left;
     padding-top: 50px;
     margin: 0 auto;
   	margin-right: 14px;
    padding-left: 37px;
    position: relative;
    padding-bottom: 30px;
  /*    transition: box-shadow 0.5s linear; */
}
.dp5zz:hover{
	/* box-shadow:0px 5px 20px 5px rgba(0,0,0,0.2);  */
	transform: translateY(-2px);
}

.dp1zz img{
	width: 160px;
	height: 166px;
}
.dp3zz img{
	width: 160px;
	height: 166px;
}
.dp4zz img{
	width: 160px;
	height: 166px;
}
.dp5zz img{
	width: 160px;
	height: 166px;
}
.dp2zz img{
	width: 160px;
	height: 166px;
}
.dp2zz{
     width: 234px;
     height: 350px;
     background: #FEFEFE;
     float: left;
      padding-top: 50px;
     margin: 0 auto;
         padding-left: 37px;
          position: relative;
         padding-bottom: 30px;
}
.dp2zz:hover{
	transform: translateY(-2px);
}

.dp1zzz{
     width: 296px;
     height: 415px;
     background: #FEFEFE;
     float: left;
     margin: 0 auto;
     margin-right: 14px;
     position: relative;
     padding-bottom: 30px;
      transition: all 0.5s linear;
}
.dp1zzz:hover{
	box-shadow:0px 5px 20px 5px rgba(0,0,0,0.2); 
	transform: translateY(-2px);
}
.dp1zzz .dpez{
	width: 236px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 34px;
	font-size: 22px;

}
.dp1zzz .dpez .pz{
	width: 236px;
	padding-top: 30px;
	margin: 0 auto;
    font-size: 12px;
    color: #B6B0B2;
}
.dp1zzz .dpez .pzz{
	width: 236px;
	padding-top: 30px;
	margin: 0 auto;
    font-size: 14px;

}
.dp1zzz .dpez .pzz .mj{
	color: black;
      float: left;
}
.dp1zzz .dpez .pzz .mjz{
	width: 35px;
	color: #FF6709;
     float: right;
     margin-right:  40px;
}
.dp5zzz .dpez{
	width: 236px;
	/* height: 70px; */
	overflow: hidden;
	margin: 0 auto;
	margin-top: 34px;
	font-size: 22px;

}
.dp5zzz .dpez .pz{
	width: 236px;
	padding-top: 30px;
	margin: 0 auto;
    font-size: 12px;
    color: #B6B0B2;
}
.dp5zzz .dpez .pzz{
	width: 236px;
	padding-top: 30px;
	margin: 0 auto;
    font-size: 14px;

}
.dp5zzz .dpez .pzz .mj{
	color: black;
      float: left;
}
.dp5zzz .dpez .pzz .mjz{
	width: 35px;
	color: #FF6709;
     float: right;
     margin-right:  40px;
}
.dp5zzz{
     width: 296px;
     height: 415px;
     background: #FEFEFE;
     float: left;
     margin: 0 auto;
    position: relative;
    padding-bottom: 30px;
}
.dp5zzz:hover{
	box-shadow:0px 5px 20px 5px rgba(0,0,0,0.2); 
	transform: translateY(-2px);
}
.dp1zzz img{
	width: 296px;
	height: 220px;
}
.dp5zzz img{
	width:296px;
	height: 220px;
}
.neirong{
	width: 1226px;
	margin: 0 auto;
	overflow: hidden;
}
.nr{
	width: 1226px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 10px;
}
.nr1{
	width:296px;
	height: 420px;
	background: #FEFEFE ;
	float: left;
     border-top: 1px solid #FFAC13;
     position: relative;
     padding-bottom: 30px;
     margin: 0 auto;
     transition: all 0.5s linear;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.nr1:hover{
	box-shadow:0px 5px 20px 5px rgba(0,0,0,0.2); 
	transform: translateY(-2px);

}
.contain{
	width: 1184px;
	height: 340px;
	text-align: center;
	position: absolute;
	bottom: 0;
	left:0;

}
.seclist{
	width: 296px;
	height: 340px;
	position: absolute;
	left:0;
	right:0;
	bottom: 0;
}
.consmall{
	width: 888px;
	transition: all 0.5s linear;

}
 .con2{
	 width: 1184px;
	 transition: all 0.5s linear;
 }
 .con4{
	 width: 1184px;
	 transition: all 0.5s linear;

 }
 .contain .content{
	 width: 296px;
	 height: 340px;
	 float: left;
	 position: relative;
 }
.nr11{
	font-size: 14px;
	width:296px;
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	color: #FFAC13;
}
.nr12{
	font-size: 20px;
	color: #333;
     margin-top:5px;

}
.nr13{
	width: 296px;
	padding: 0 20px;
	font-size: 14px;
	color: #b0b0b0;
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
     text-align: center;

}
.nr14{
	font-size: 14px;
	color: #333;
  	position: absolute;
	top: 265px;
	left: 0;
	right: 0;
	margin: auto;
	 text-align: center;
}
.nr15{
	width: 296px;
	position: absolute;
	top: 110px;
	left: 0;
	margin: auto;

}
.nr1 ul{
	/* width: 80px; */
	height: 20px;
/* 	background: red; */
	position: absolute;
	bottom: 14px;
	left: 0;
	right: 0;
	margin: auto;
	overflow: hidden;
	padding: 0 100px;
	display: flex;
	justify-content: space-between;
}
.nr ul  .twoz{
	width: 6px;
	height: 6px;
	background: #B0B0B0;
	border-radius: 50%;
	float: left;
}
 .nr ul  .onez{
	 width: 10px;
	 height: 10px;
	 background: #fefefe;
	 border: 2px solid #FF6F0F ;
	 border-radius: 50%;
 }
.nr2{
	width:296px;
	height: 420px;
	background: #FEFEFE ;
	float: left;
     border-top: 1px solid #83C44E;
     padding-left: 37px;
     position: relative;
     padding-bottom: 30px;
     margin: 0 auto;
    margin-left: 14px;
     transition: all 0.5s linear;
	overflow: hidden;
}
.nr2:hover{
	box-shadow:0px 5px 20px 5px rgba(0,0,0,0.2); 
	transform: translateY(-2px);
}

.nr2 ul{
	/* width: 80px; */
	height: 20px;
/* 	background: red; */
	position: absolute;
	bottom: 14px;
	left: 0;
	right: 0;
	margin: auto;
	overflow: hidden;
	padding: 0 80px;
	display: flex;
	justify-content: space-between;
}
 .nr2 ul  .twoz{
	 width: 6px;
	 height: 6px;
	 background: #B0B0B0;
	 border-radius: 50%;
	 float: left;
 }
.nr2 ul  .onez{
	width: 10px;
	height: 10px;
	background: #fefefe;
	border: 2px solid #FF6F0F ;
	border-radius: 50%;
	float: left;
}

.nr3{
	width:296px;
	height: 420px;
	background: #FEFEFE ;
	float: left;
     border-top: 1px solid #F6AA77;
     padding-left: 37px;
         position: relative;
         padding-bottom: 30px;
          margin: 0 auto;
          margin-left: 14px;
     transition: all 0.5s linear;
	overflow: hidden;
}
.nr3:hover{
	box-shadow:0px 5px 20px 5px rgba(0,0,0,0.2); 
	transform: translateY(-2px);
}

.nr3 ul{
	/* width: 80px; */
	height: 20px;
/* 	background: red; */
	position: absolute;
	bottom: 14px;
	left: 0;
	right: 0;
	margin: auto;
	padding: 0 100px;
	display: flex;
	justify-content: space-between;

}

.nr4{
	width:296px;
	height: 420px;
	background: #FEFEFE ;
	float: left;
     border-top: 1px solid #B3CAB8;
     padding-left: 37px;
     position: relative;
     padding-bottom: 30px;
      margin: 0 auto;
     margin-left: 14px;
    transition: all 0.5s linear;
	overflow: hidden;
}
.nr4:hover{
	box-shadow:0px 5px 20px 5px rgba(0,0,0,0.2); 
	transform: translateY(-2px);
}

.nr4 ul{
	/* width: 80px; */
	height: 20px;
/* 	background: red; */
	position: absolute;
	bottom: 14px;
	left: 0;
	right: 0;
	margin: auto;
	display:flex;
	padding: 0 80px;
	justify-content: space-between;
}
.nr4 ul .twoz:hover{
	background: #FF6F0F;
}
.nr1 ul .twoz:hover{
	background: #FF6F0F;
}
.nr2 ul .twoz:hover{
	background: #FF6F0F;
}
.nr3 ul .twoz:hover{
	background: #FF6F0F;
}
.hua1{
	width: 20px;
	height: 50px;
	position: absolute;
	top: 95px;
	right: 276px;
	margin: auto;
    background: #D9D9D9;
    text-align: center;
    opacity: 0;
    line-height: 50px;
    text-align: center;
    color: #fff;
	cursor: pointer;
}
.hua2{
	width: 20px;
	height: 50px;
	position: absolute;
	top: 95px;
	left: 276px;
	margin: auto;
    background: #D9D9D9;
     opacity: 0;
      line-height: 50px;
        text-align: center;
        color: #fff;
	cursor: pointer;
}
.nr1:hover .hua1{
	animation: xianshiz .5s linear  forwards;
}
.nr1:hover .hua2{
	animation: xianshiz .5s linear  forwards;
}
.nr2:hover .hua1{
	animation: xianshiz .5s linear  forwards;
}
.nr2:hover .hua2{
	animation: xianshiz .5s linear  forwards;
}
.nr3:hover .hua1{
	animation: xianshiz .5s linear  forwards;
}
.nr3:hover .hua2{
	animation: xianshiz .5s linear  forwards;
}
.nr4:hover .hua1{
	animation: xianshiz .5s linear  forwards;
}
.nr4:hover .hua2{
	animation: xianshiz .5s linear  forwards;
}
@keyframes xianshiz{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0.5;
	}
	100%{
		opacity: 1;
	}
}
.sp{
	width: 1226px;
	height: 285px;
	margin: 0 auto;
	margin-top: 10px;
}
.sp1{
	width: 296px;
	height: 285px;
	float: left;
	background: #fefefe;
	margin-left: 10px;
	position: relative;
	transition: all 0.5s linear;
}
.sp1:hover{
	box-shadow:0px 5px 20px 5px rgba(0,0,0,0.2); 
	transform: translateY(-2px);
}

.spe{

}
.speled{
	font-size: 14px;
	color: #333;
   position: absolute;
	top: 200px;
	left: 0;
	right: 0;
	margin: auto;
     margin-top:10px; 
     text-align: center;
}
.speled a:hover{
	color: #FF6709;
}
.speled1{

	width: 210px;
	font-size: 14px;
	color: #C1B7CB;
	position: absolute;
	top: 230px;
	left: 0;
	right: 0;
	margin: auto;
     margin-top:10px; 
     text-align: center;

}
.yuanz{
	width: 50px;
	height: 30px;
	float: left ;
	border-radius: 30%;
	background: #B0B0B0;
	padding:1px 6px;
	opacity: 0;

}
.y1{
	opacity: 0;
	color: white;
	float: left;
	font-size: 10px;
	color:#fff;
}
.sp11.yuanz:hover{
	background: red;
}
.dibu{
	width: 100%;
	height: 300px;
	background: #fefefe;
	margin-top: 80px;

}
.d1{
	width: 1226px;
    padding-top: 40px;
	/* height: 25px; */
margin: 0 auto;
    overflow: hidden;

}
.de{
	width: 1226px;
    padding-top: 40px;
	/* height: 25px; */
	margin: 0 auto;
    overflow: hidden;
     padding-left: 30px;
} 
.dey{
	width: 181px;
	float: right;
overflow: hidden;
}
.szo{
	font-size: 18px;
	margin-top: 40px;
	float: left;
	color: #FF6700;
}
.szoz{
	font-size: 18px;
	float: left;
	color: #FF6700;
}
.szozz{
	font-size: 18px;
	float: left;
	color: #FF6700;
	margin-left: 25px;
}
.d11{
	width: 243px;
	height: 25px;
	font-size: 14px;
	float: left;
	border-right: 1px solid #333;
}
.zzd{
	float: left;
	margin-left: 50px;
}
.zd{
	float: left;
	margin-top: 5px;
}
.d12{
	width: 251px;
	height: 25px;
	font-size: 14px;
	float: left;
}
.d2{
	width: 960px;
	height: 250px;
	float: left;
	
}
.d2 .dd2{
	float: left;
}
.d2 .dd2 .ddd2{
	float: left;
margin-left: 40px;
margin-right: 40px;
margin-top: 40px;
margin-bottom: 20px;
	font-size: 14px;

}

.d2 .dd2z{
	float: left;
}
.d2 .dd2z .ddd2z{
	float: left;
	margin:10px 42px;
	font-size: 12px;

}
.dh{
	width: 120px;
	height: 30px;
	background: #FDE9DE;
	border: 2px solid  #FF6700;
}
.dh img{
	/* width: 30px;
	height: 30px; */
}
.d3{
	width: 1226px;
	height: 200px;
	margin: 0 auto;
	margin-top: 20px;
}
.logo{
	float: left;
}
.yy
{  width: 800px;
	height: 80px;
	float: left;
/* 	margin-left: 50px; */
}
.yzz1{
	overflow: hidden;
	float: right;
}
.yzz1 img{
	width: 85px;
	height: 28px;
	float: left;

/* 	margin-left: 50px; */
}

