                                            *{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	
}
header .headerz .r a{
	color: #808080;
}
.banners .bny .bnyzz a{	
	color: #fff;
}
.banners .bnx .bn aside ul a{
	color:black;
}
nav .navy .x ul li a{
	color: black;
}	
